@use 'src/styles/helpers' as *;

.year {
  display: inline-block;
  font-weight: 400;

  &.large {
    @include fluid-text(200, 56);

    font-weight: 700;
    line-height: var(--line-height);
    letter-spacing: -0.02em;
  }

  &.small {
    @include fluid-text(25, 16);

    font-family: var(--font-family-additional);
    line-height: 120%;
  }

  &.blue {
    color: var(--accent-color-primary);
  }

  &.pink {
    color: var(--accent-color-secondary);
  }
}

@include laptop {
  .year {
    &.large {
      line-height: 100%;
    }
  }
}
