@use 'src/styles/helpers' as *;

.bullets {
  display: none;
  flex-wrap: nowrap;
  gap: rem(10);
  justify-content: center;
}

.bullet {
  cursor: pointer;

  width: rem(6);
  height: rem(6);
  border-radius: 50%;

  opacity: 0.4;
  background-color: var(--color-dark);

  transition: background-color 0.3s;

  &.active {
    opacity: 1;
  }
}

@include mobile {
  .bullets {
    display: flex;
  }
}
